<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle">Edit Your Pick</h2>
        </div>
    </div>
</section>
<br>

<%= render "application/errors" %>
<%= render partial: "form", locals: {pick: @pick} %>

<br>


<%= form_tag(pick_path(@pick), method: "delete") do %>
    <input type="submit" value="Delete" class="button is-danger">
<% end %>